name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk: [ '8', '11', '17', '19' ]
    name: Use JDK version ${{ matrix.jdk }}
    steps:
    - uses: actions/checkout@v3
    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: ${{ matrix.jdk }}
    - name: Install clojure tools
      uses: DeLaGuardo/setup-clojure@10.1
      with:
        lein: latest
    - name: Cache clojure dependencies
      uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
        key: cljdeps-${{ hashFiles('project.clj') }}
        restore-keys: cljdeps-
    - uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: coreutils bats
        version: 0.1
    - name: Install dependencies
      run: lein deps
    - name: Run kondo
      run: lein clj-kondo
    - name: Build binaries
      run: lein bin
    - name: Set credential permissions for test run
      run: chmod 600 test/creds.*
    - name: Run tests
      run: bats --tap test
